<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_SkolaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56466/HttpHandlers/WS_Skola.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS_SkolaSoap"
                contract="WS_Skola.WS_SkolaSoap" name="WS_SkolaSoap" />
        </client>
    </system.serviceModel>
</configuration>