<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ba011326-2784-4241-b142-c001f9f14617" Publisher="CN=Marian" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Kalkulačka.Windows</DisplayName>
    <PublisherDisplayName>Marian Dolinský</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Kalkulačka.Windows.App">
      <m2:VisualElements DisplayName="Kalkulačka" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Kalkulačka" ForegroundText="light" BackgroundColor="#1d1d1d">
        <m2:DefaultTile ShortName="Kalkulačka" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1d1d1d" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>